<div class="row">
    <div class="col-lg-3">
        <h1 style="text-align: center;">this is Area chart</h1>
        <canvas class="charts" id="areaChart"></canvas>
    </div>
    <div class="col-lg-3">
        <h1 style="text-align: center;">this is Bubble Chart</h1>
        <canvas class="charts" id="bubbleChart"></canvas>
    </div>
    <div class="col-lg-3">
        <h1 style="text-align: center;">this is Line Chart</h1>
        <canvas class="charts" id="lineChart"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <h1 style="text-align: center;">this is Polar chart</h1>
        <canvas class="charts" id="polarChart"></canvas>
    </div>
    <div class="col-lg-3">
        <h1 style="text-align: center;">this is Radar chart</h1>
        <canvas class="charts" id="radarChart"></canvas>
    </div>
    <div class="col-lg-4">
        <h1 style="text-align: center;">this is Pie Chart with plugin</h1>
        <div>
            <canvas class="charts" id="piechartwithplugin"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h1 style="text-align: center;">this is Bar chart</h1>
        <canvas class="charts" id="barChart"></canvas>
    </div>
    <div class="col-lg-4">
        <h1 style="text-align: center;">this is Scatter chart</h1>
        <canvas class="charts" id="scatterChart"></canvas>
    </div>
    <div class="col-lg-4">
        <h1 style="text-align: center;">this is normale Pie chart</h1>
        <div>
            <canvas class="charts" id="normalepiechart"></canvas>
        </div>
    </div>
</div>